---
layout: default
---


<div id="green">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
            
                   
                <h1><b> {{ page.title }} </b></h1>
                </br>
                </br>
                
                    
                </div>
            </div>
        </div>
    </div>

<div id="white">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
            
                </br>
                </br>

                {{ content }}
                    
                </br>
                </br>

                </div>
            </div>
        </div>
    </div>


<div id="white">
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

       </div>
    </div><!-- /row -->
</div> <!-- /container -->
<div>

    <div id="f">
        <div class="container">
            <div class="row">
                </br>
                </br>
            </div>
        </div>
    </div>